h1 {
       color: orange;
       text-align: center;
}

h2 {
       color: orange;
       text-align: center;
}

p {
      text-align: center;
}   

<body style="background-color:brown;">
